<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{normal/base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Add Contact</title>
</head>
<body>
	<section>
		<div class="card mr-3">
			<div class="card-body">
				<div class="alert text-center" th:if="${session.message}"
					th:classappend="${session.message.type}" role="alert">
					<div th:text="${session.message.content}"></div>
				</div>
				<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-10 offset-1">
							<form action="#" th:object="${contact}"
								enctype="multipart/form-data"
								method="post"
								th:action="@{/user/process-contact}"
								class="mt-2">
								
								<!-- First Name Field -->
								<div class="input-group">
									<div class="input-group-prepand">
										<div class="input-group-text">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input type="text" id="firstName" name="name" placeholder="Enter Name here" class="form-control" required="required"/>
								</div>
								
								<!-- Second Name Field -->
								<div class="input-group mt-3">
									<div class="input-group-prepand">
										<div class="input-group-text">
											<i class="fa fa-user-alt"></i>
										</div>
									</div>
									<input type="text" id="lastName" name="secondName" placeholder="Enter Nickname here" class="form-control"/>
								</div>
								
								<!-- Phone Field -->
								<div class="input-group mt-3">
									<div class="input-group-prepand">
										<div class="input-group-text">
											<i class="fa-solid fa-phone"></i>
										</div>
									</div>
									<input type="tel" id="phone" name="phone" placeholder="Enter Phone Number here" class="form-control"/>
								</div>
								
								<!-- Email Field -->
								<div class="input-group mt-3">
									<div class="input-group-prepand">
										<div class="input-group-text">
											<i class="fa-solid fa-at"></i>
										</div>
									</div>
									<input type="email" id="email" name="email" placeholder="Enter Email here" class="form-control"/>
								</div>
								
								<!-- Work Field -->
								<div class="input-group mt-3">
									<div class="input-group-prepand">
										<div class="input-group-text">
											<i class="fa-solid fa-briefcase"></i>
										</div>
									</div>
									<input type="text" id="work" name="work" placeholder="Enter Work here" class="form-control"/>
								</div>
								
								<!-- Description Field -->
								<div class="input-group mt-3">
									<textarea name="description" id="description" rows="8" class="form-control"
									 placeholder="Enter Contact Description here"></textarea>
								</div>
								
								<!-- Contact Image Field -->
								<div class="custome-file">
									<input type="file" name="profileImage" />
								</div>
								
								<!--Save Button -->
								<div class="container text-center">
									<button class="btn btn-outline-primary">Save Contact</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>